  /* ------------------------ */
 /* -------- GLOBAL -------- */
/* ------------------------ */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Custom Scrollbar */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(172, 172, 172, 0.397);
  border-radius: 20px;
}

body {
  background: rgb(220,219,211); 
  background: linear-gradient(0deg, #c2cacb 20%, #dadbd4 85%, #249788 15%);
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

.container {
  display: flex;
  min-width: 600px;
  max-width: 85%;
  height: calc(100vh - 30px);
  margin: 15px auto;
  background-color: #fff;
  overflow: hidden;
}

/* color general all FontAwesome */
i {
  color: #777676d5;
}

  /* --------------------------- */
 /* -------- LEFT-SIDE -------- */
/* --------------------------- */

.left-side {
  min-width: 320px;
  width: 35%;
  height: 100%;
  border: 1px solid lightgray;
}

  /* -------------- */
 /* ---- USER ---- */
/* -------------- */

.user {
  display: flex;
  justify-content: space-between;
  height: 60px;
  background-color: #eaeaea;
  padding: 10px;
  overflow: hidden;
}

.user__left, .user__right {
  display: flex;
  align-items: center;
  height: 100%;
}

.user__left img {
  width: 40px;
  border-radius: 50%;
  margin-left: 5px;
}

#user__name {
  font-size: 16px;
  font-weight: bold;
  margin-left: 15px;
}

.user__right ul {
  list-style: none;
}

.user__right ul li {
  display: inline-block;
}

.user__right ul li:hover {
  cursor: pointer;
}

.user__right i {
  margin-right: 15px;
}

  /* ------------- */
 /* NOTIFICATIONS */
/* ------------- */

.notifications {
  display: flex;
  align-items: center;
  height: 80px;
  background-color: #8edafc;
  padding: 10px;
  overflow: hidden;
}

.notifications__icon {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 15px;
}

.notifications__icon i {
  font-size: 20px;
  color: #8edafc;
}

.notifications__icon i:hover {
  cursor: pointer;
}

.notifications__text p {
  font-weight: bold;
}

.notifications__text a {
  text-decoration: none;
  font-size: 14px;
  color: grey;
}

.notifications__text a {
  text-decoration: none;
}

.notifications__text a:hover {
  text-decoration: underline;
}

  /* --------------- */
 /* INPUT TO SEARCH */
/* --------------- */

.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  margin: 5px 15px;
  border: 1px solid lightgray;
  border-radius: 20px;
}

.search-bar i {
  margin: 0 10px;
}

.search-bar i:hover {
  cursor: pointer;
}

.search-bar input {
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 20px;
  padding: 0 10px;
}

.search-bar input:focus {
  outline: none;
}

  /* ---------------- */
 /* SECTION CONTACTS */
/* ---------------- */

.contacts {
  overflow-y: scroll;
  height: calc(100% - 60px - 80px - 30px);
}

.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: auto;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.contact:hover {
  background-color: #eeeeeed0;
  cursor: pointer;
}

.contact.active {
background-color: #e0e0e0;
}

.contact__left {
  display: flex;
  align-items: center;
}

.contact__left__avatar img {
  width: 50px;
  border-radius: 50%;
}

.contact__left__text {
  margin-left: 15px;
}

.contact__left__text .contact__name {
  font-size: 16px;
  font-weight: 500;
}

.contact__left .contact__last__message {
  font-size: 12px;
}

.contact__right .date-last-message {
  font-size: 10px;
}

  /* --------------------------- */
 /* -------- CHAT-SIDE -------- */
/* --------------------------- */

.chat-side {
  width: 65%;
  height: 100%;
}

/* Template before that you click on any chat */
.chat-side .start-chat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #f8f9fa;
  text-align: center;
  color: #99a8b4;
  padding: 0 50px;
  overflow: hidden;
}

.chat-side .start-chat img {
  width: 250px;
  margin-bottom: 10px;
}

.chat-side .start-chat h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
}

.chat-side .start-chat h4 {
  font-weight: 500;
}

.chat-side .start-chat .line {
  width: 65%;
  height: 1px;
  background-color: #99a8b4;
  margin: 25px 0;
}

.chat-side .start-chat a {
  color: #22a753;
  text-decoration: none;
}

  /* -------------- */
 /*  INFO CONTACT  */
/* -------------- */
.info-contact {
  display: flex;
  justify-content: space-between;
  height: 60px;
  background-color: #eaeaea;
  padding: 10px;
}

.info-contact__left {
  display: flex;
  align-items: center;
}

.info-contact__left__avatar img {
  width: 40px;
  border-radius: 50%;
}

.info-contact__left__text {
  margin-left: 15px;
}

#contact__name {
  font-weight: 600;
}

#last-acces {
  font-size: 12px;
}

.info-contact__right {
  display: flex;
  align-items: center;
}

.info-contact__right ul {
  list-style: none;
}

.info-contact__right ul li {
  display: inline-block;
  margin-right: 15px;
}

.info-contact__right ul li:hover {
  cursor: pointer;
}

  /* --------------- */
 /*  MESSAGES CHAT  */
/* --------------- */

.messages__chat {
  height: calc(100% - 120px);
  background-image: url(../img/mine.jpg);
  overflow-y: scroll;
  padding: 30px 50px 0 50px;
}

.messages__chat .message {
  display: flex;
  border-radius: 20px;
  margin: 8px 0;
  font-size: 14px;
  cursor: pointer;
}

.messages__chat .message__text {
  position: relative;
  padding: 10px;
  border-radius: 10px;
  min-width: 100px;
  max-width: 80%;
}

.messages__chat .message__text__body-text {
  margin-right: 50px;
  margin-bottom: 5px;
}

.messages__chat .message__text__date {
  display: flex;
  justify-content: end;
}
.messages__chat .message__text__date span {
  font-size: 10px;
}

.messages__chat .message.sent {
  justify-content: end;
}

.messages__chat .message.sent .message__text {
  background-color: #d4f9ba;
}

.messages__chat .message.received {
  justify-content: start;
}

.messages__chat .message.received .message__text {
  background-color: #fff;
}

/* MENU DROP DOWN */
.message__text__option {
  position: absolute;
  top: 5px;
  right: 10px;
  display: none;
}

.message__text:hover .message__text__option {
  display: block;
}

.message__text__option ul {
  list-style: none;
}

.message__text__option__menu {
  position: absolute;
  top: 15px;
  right: 5px;  
  min-width: 200px;
  background-color: rgba(235, 226, 226, 0.959);
  z-index: 100;
}

.message__text__option__menu li {
  padding: 10px;
}

.message__text__option__menu li:hover {
  background-color: rgb(177, 177, 177);
}

  /* ---------------- */
 /* MESSAGE-TO-WRITE */
/* ---------------- */

.message-to-write {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.message-to-write i {
  width: 10%;
  text-align: center;
  font-size: 20px;
}

.message-to-write i:hover {
  cursor: pointer;
}

.message-to-write__text {
  width: 90%;
}

.message-to-write__text input {
  width: 100%;
  height: 35px;
  border: 1px solid lightgray;
  border-radius: 20px;
  padding: 0 10px;
}

.message-to-write__text input:focus {
  outline: none;
}
