<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Acme&family=Lato&family=Reenie+Beanie&family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="css/style.css">
  <title>Vue Boolzapp</title>
</head>
<body>

  <div id="app">


    <div class="container">

      <!-- ------------------- -->
      <!-- ---- LEFT-SIDE ---- -->
      <!-- ------------------- -->
      <div class="left-side">
        
        <!-- --------->
        <!--  USER  -->
        <!-- --------->
        <div class="user">

          <div class="user__left">
            <img src="img/avatar_2.jpg" alt="My Photo">
            <p id="user__name">Luca Sunseri</p>
          </div>
          
          <div class="user__right">
            <ul>
              <li>
                <i class="fas fa-circle-notch" title="Stato"></i>
              </li>
              <li>
                <i class="fas fa-comment-alt" title="Nuova Chat"></i>
              </li>
              <li>
                  <i class="fas fa-ellipsis-v" title="Menu"></i>
              </li>
            </ul>
          </div>

        </div>

        <!-- -------------- -->
        <!-- NOTIFICATIONS  -->
        <!-- -------------- -->
        <div class="notifications" @click="isnotification = !isnotification">
          <div class="notifications__icon">
            <i  v-if="isnotification" class="fas fa-bell"></i>
            <i v-else class="fas fa-bell-slash"></i>
          </div>
          <div  class="notifications__text">
            <p>Ricevi notifiche di nuovi messaggi</p>
              <a href="#">Attiva notifiche desktop</a> 
          </div>
        </div>

        <!-- --------------- -->
        <!-- INPUT TO SEARCH -->
        <!-- --------------- -->
        <div class="search-bar">
            <i class="fas fa-search" title="Cerca..."></i>
            <input 
              v-model="search" type="text" 
              placeholder="Cerca o inizia una nuova chat" 
              @keyup="filterContacts"
            >
        </div>

        <!-- ---------------- -->
        <!-- SECTION CONTACTS -->
        <!-- ---------------- -->
        <div class="contacts">

          <!-- Contact  -->
          <div 
            v-for="(contact, index) in contacts"
            class="contact"
            :class="{'active': (index === activeContact)}"
            @click="activeContact = index"
            @click="showContact(index)"
            v-if="contact.visible"
          >
            <div class="contact__left">
              <div class="contact__left__avatar">
                <img :src="`img/${contact.avatar}`" :alt="contact.name">
              </div>
              <div class="contact__left__text">
                <p class="contact__name">{{checklength(contact.name, 15)}}</p>
                <p v-if="lastMessage(index)" class="contact__last__message">{{checklength(lastMessage(index).text, 20)}}</p>
                <p v-else class="contact__last__message"></p>
              </div>
            </div>
            <div class="contact__right">
              <span v-if="lastMessage(index)" class="date-last-message">{{lastMessage(index).date}}</span>
              <span v-else class="date-last-message"></span>
            </div>
          </div>
          <!-- /Contact  -->

        </div>

      </div>
  
      <!-- -------------------- -->
      <!-- ---- CHAT-SIDE ---- -->
      <!-- -------------------- -->

      <!-- Template before that you click on any chat -->
      <div  v-if="activeContact === -1" class="chat-side">

        <div class="start-chat">
          <img src="img/start chat.png" alt="WhatsApp">
          <h2>Mantieni il telefono connesso</h2>
          <h4>WhatsApp si collega al tuo telefono per sincronizzare i messaggi. Per ridurre l'utilizzo dei dati, collega il telefono al Wi-Fi.</h4>
          <div class="line"></div>
          <h4><i class="fas fa-laptop"></i> Chiama da desktop con WhatsApp per Windows. <a href="https://www.whatsapp.com/download">Scaricala qui</a></h4>
        </div>

      </div>

      <!-- Template after that you click on any chat -->
      <div v-else class="chat-side">

        <!-- ------------ -->
        <!-- INFO CONTACT -->
        <!-- ------------ -->
        <div class="info-contact">

          <div class="info-contact__left">
            <div class="info-contact__left__avatar">
              <img :src="`img/${contacts[activeContact].avatar}`" :alt="contacts[activeContact].name">
            </div>
            <div class="info-contact__left__text">
              <p id="contact__name">{{contacts[activeContact].name}}</p>
              <p id="last-acces">Ultimo accesso Data e Ora</p>
            </div>
          </div>

          <div class="info-contact__right">
            <ul>
              <li>
                <i class="fas fa-search" title="Cerca..."></i>
              </li>
              <li>
                <i class="fas fa-paperclip" title="Allega"></i>
              </li>
              <li>
                  <i class="fas fa-ellipsis-v" title="Menu"></i>
              </li>
            </ul>
          </div>

        </div>

        <!-- -------------- -->
        <!--  MESSAGES CHAT -->
        <!-- -------------- -->
        <div class="messages__chat" id="messageBody">

          <!-- Message -->
          <div 
            v-for="(message,index) in contacts[activeContact].message" 
            class="message"
            :class="message.status"
          >
            <div class="message__text">
              <div class="message__text__body-text">
                <p>{{message.text}}</p>
              </div>
              <div class="message__text__date">
                <span>{{message.date}}</span>
              </div>
              <!--  Menu drop down  -->
              <div class="message__text__option">
                <ul>
                  <li @click="isOpenDropMenu = !isOpenDropMenu"><i class="fas fa-chevron-down"></i>
                    <ul v-show="isOpenDropMenu" class="message__text__option__menu">
                      <li>Info</li>
                      <li>Messaggio Importante</li>
                      <li @click="removeMessage(activeContact, index)">Elimina Messaggio</li>
                    </ul>
                  </li>
                </ul>
              </div>
              <!--  /Menu drop down  -->
            </div>
          </div>
          <!-- /Message -->

        </div>
       
        <!-- ---------------- -->
        <!-- MESSAGE-TO-WRITE -->
        <!-- ---------------- -->
        <div class="message-to-write">
          <i class="far fa-smile"></i>
          <div class="message-to-write__text">
            <input 
              v-model.trim="newMessageText"  
              @keyup.enter="addNewMessage(activeContact)" 
              type="text" placeholder="Scrivi un messaggio"
            >
          </div>
          <i class="fas fa-microphone"></i>
        </div>

      </div>
  
  
    </div>






  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="js/script.js"></script>
</body>
</html>